body {
    font-family: 'Titillium Web', sans-serif;
    color: #fceed9;
    background-color: #E43B50;
    background-image: linear-gradient(
    to right,
    #EF5760,
    #E43B50,
    #ED1C24)

}

h3 {
    font-family: 'Rubik Mono One', sans-serif;
    color: #fceed9;
    z-index: 1;
}

#eatSection,
#trashSection,
#orderSection {
    z-index: 10;
}

#burger-img {
    opacity: 0.3;
    filter: alpha(opacity=30);
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60%;
    z-index: 0;
}

span {
    font-size: 40px;
}

#eatenSection {
    padding: 0px 0px 0px 15px;
}